<%= link_to "<span class='short-clear'>Clear</span><span class='long-clear'>#{t('blacklight.bookmarks.clear.action_title')}</span>".html_safe, 
              clear_bookmarks_path, 
              class: 'clear-bookmarks btn btn-danger',
              data: { confirm: t('blacklight.bookmarks.clear.action_confirm') },
              method: :delete %>
<%= link_to t('blacklight.bookmarks.cite'), citation_bookmarks_path, 
              class: 'cite-bookmarks btn btn-outline-primary rounded-0',
              data: { "blacklight-modal": "trigger" } %>
<%= link_to 'Export to RIS', "/export_multiple_ris/#{@response.documents.map(&:id).join(',')}",
              class: 'export-ris-bookmarks btn btn-outline-primary rounded-0' %>