# rename to either .env.development or .env.production
SECRET_KEY_BASE=

# Database keys
DATABASE_NAME=blackcat_production
DATABASE_USERNAME=blackcat
DATABASE_PASSWORD=blackcat
DATABASE_POOL=25
RAILS_MAX_THREADS=5
DATABASE_AUTH=true

# provide alma domain for oai base url fetch
ALMA=

# provide alma_api_url for querying/posting to Alma API
ALMA_API_URL=
ALMA_BIB_KEY=

# provide institution for oai base url fetch
INSTITUTION=

# provides name for oai set being fetched
oai_set_name=blacklighttest

# provide SOLR_URL for solr connections
SOLR_URL=

# provide a comma-separated list of network IDs of LTDS users who can perform administrative tasks
LTDS_ADMIN_NET_ID_LIST=
