<script>
  $(document).on('keyup', '#collection_facet .bs-searchbox input', function(e){
    var q = e.target.value;
    if(q.length >= 3) {
      $.ajax({
        type: "GET",
        url: "/collections/search",
        data: {'uri': q},
        dataType: "json",
        success: function(data) {
          var data = data.collection_result;
          $('#collection_ssim').selectpicker('refresh');
          options = [];
          data.forEach(function(v) {
            options += '<option value="' + v + '">' + v + '</option>';
          });
          $('#collection_ssim').html(options);
          $('#collection_ssim').selectpicker('refresh');
        }
      });
    }
  });
</script>