<%# [Overwrite-Blacklight-Advanced-Search-v7.0.0] removes start over button from page top %>
<% @page_title = "Advanced Search - #{application_name}" %>

<%= render('shared/breadcrumbs', 
      crumb_hashes: [{ curr_page: true, abbr: nil, link: '/advanced', title: "Advanced Search" }]) %>
<div class="advanced-search-form col-sm-12">
  <h1 class="advanced page-header show-header">
    <%= t('blacklight_advanced_search.form.title') %>
  </h1>
  <div class="row">
    <div class="col-md-8">
      <%= render 'advanced_search_form' %>
    </div>
    <div class="col-md-4">
      <%= render "advanced_search_help" %>
    </div>
  </div>
</div>
