<ul class="current list-unstyled facet-values">
  <li class="selected">
    <span class="facet-label">
      <span class="selected"><%= range_display(field_name) %></span>
      <%= link_to(search_action_url(remove_range_param(field_name).except(:controller, :action)), 
            :class=>"remove", 
            :title => t('blacklight.range_limit.remove_limit')) do %>
        <span class="remove-icon">✖</span>
        <span class="sr-only">[<%= t('blacklight.range_limit.remove_limit') %>]</span>
      <% end %>
    </span>
    <span class="selected facet-count"><%= number_with_delimiter(@response.total) %></span>
  </li>
</ul>