<%# Overrides partial of same name from blacklight_advanced_search (7.0.0) %>
<%#
  Removes Facet Limit badges because we're now using bootstrap-selects built in
  capability of removing the selected values from the form.
%>
<div class="advanced_facet_limit">
  <%= render_facet_limit display_facet, layout: nil, partial: advanced_search_facet_partial_name(display_facet) %>
</div>