<div class='beta-banner alert alert-warning'>
  Welcome to the beta version of Library Search. Questions or concerns about the product can be sent to 
  <a href="mailto:librarysearch@emory.edu">librarysearch@emory.edu</a>. The production launch is scheduled for January 6, 2022. Until then, you can use Library Search or 
  <a href="http://discovere.emory.edu/primo_library/libweb/action/search.do">discovere.emory.edu</a> to search and find items from the catalog and Articles Plus.
</div>