<div class='beta-banner alert alert-warning'>
  Emergency maintenance is currently underway to resolve issues with the availability of some electronic resources. The reindex of the solr index will result in occasional abnormalities with search results. We apologize for this inconvenience. This maintenance is expected to complete by 5 pm on 1/11/22.
</div>