<div class='beta-banner alert alert-warning'>
  As we continue to improve the NEW Library Search tool, please send any questions or feedback to <a href="mailto:librarysearch@emory.edu">librarysearch@emory.edu</a>, consult with your <a href="https://libraries.emory.edu/contact/subject-librarian-directory.html" target='_blank' rel='noopener noreferrer'>subject liaison</a>, or <a href="https://emory.libanswers.com/" target='_blank' rel='noopener noreferrer'>Ask a Librarian</a>. Thank you.
</div>