<div class='beta-banner alert alert-warning'>
  Welcome to the new catalog search tool - Library Search. Questions or concerns about the product can be sent to 
  <a href="mailto:librarysearch@emory.edu">librarysearch@emory.edu</a>. Please also visit our 
  <a href="/help">help page</a> to view the user guide, help articles, and answers to frequently asked questions.
</div>