<ul class="footer-list">
<li>
<%= link_to t('blacklight.footer.links.about_library_search'), about_path, class: "link" %>
</li></ul>
<ul class="footer-list">
  <li>
    <%= link_to t('blacklight.footer.links.harmful_language'), 
                  'https://libraries.emory.edu/about/policies/statement-harmful-language.html', 
                  class: "link" 
    %>
  </li>
</ul>
<ul class="footer-list">
  <li><%= link_to 'Help & Contacts', help_path, class: "link" %></li>
</ul>
<ul class="footer-list">
  <li>
    <%= link_to t('blacklight.footer.links.donate'), 'https://libraries.emory.edu/about/support-emory-libraries/index.html', 
          class: "link" %>
  </li>
</ul>
