<%# Override of Blacklight 7.4.1 view partial %>
<ul class="navbar-nav">
  <% if has_user_authentication_provider? %>
    <% if current_user %>
      <li class="nav-item">
        <% if current_user.display_name %>
          <%= link_to "#{t('blacklight.header_links.logout')} #{current_user.display_name} ", destroy_user_session_path, class: 'nav-link' %>
        <% else %>
          <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'nav-link' %>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: 'btn btn-md btn-primary rounded-0 mb-2' %>
      </li>
    <% end %>
  <% end %>
</ul>