<% @page_title = "#{t('help.title')} - #{application_name}" %>
<% title = t('help.title'); abbr = title.split(' ').first(3).join(' ') + '...' %>

<%= render 'shared/breadcrumbs', crumb_hashes: [{ curr_page: true, abbr: abbr, link: '/help', title: title }]
%>
<div class="row static-heading-row about">
  <%= render 'static/static_heading', 
              title: title, 
              subheading: t('help.subheading').html_safe
  %>
</div>