<div class="container not-found-container">
    <div class="row static-heading-row not-found">
      <h1 class="static-heading"><%= t('static.unhandled_exception.header') %></h1>
    </div>
    <div class="row static-subheading">
      <p class="intro-subtitle">
        We apologize and are fixing the problem. Please try again at a later time.</p>
      <hr class="static-rule rule"></div>
</div>
