<div class="row" id="data-alternate-catalog">
  <div class="col-12 col-centered">
    <div class="card-deck">
      <div class="border-resources card mb-3">
        <div class="card-header bg-resources resources-header"></div>
        <div class="card-body">
          <%= rounded_lightbulb %>
          <p class="text-other-resources">ARTICLES +</p>
          <h3 class="bigtext-other-resources">Looking for articles?</h3>
          <p id="results-p">
            Search for 
            <a href="<%= articles_plus_url_builder(search_state) %>" id="articles-plus-url" target="_blank" rel="noopener noreferrer">
              <span class="alternate-catalog-count"></span>
              results in Articles +
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>