<%# Override of Blacklight v7.4.1 partial of same name; %>
 <% if !request.fullpath.include?('/advanced') %>
 <div class="col-12">
   <h3 class="header-search">Search books, e-books, journal and newspaper titles, videos and more</h3>
 </div>
  <div class="navbar-search navbar navbar-light mb-12 p-0" role="navigation">
    <div class="<%= container_classes %>">
      <%= render_search_bar  %>
    </div>
  </div>
  <div class="col-12">
    <p>
      Getting started with Library Search? See our <a href="https://guides.libraries.emory.edu/LibrarySearchUserGuide" target="_blank" rel="noopener noreferrer">Search Tips</a> and <a href="https://guides.libraries.emory.edu/LibrarySearchFAQs" target="_blank" rel="noopener noreferrer">FAQs</a>.<br>
      Looking for articles? Use <a href="https://emory.primo.exlibrisgroup.com/discovery/search?vid=01GALI_EMORY:articles" target="_blank" rel="noopener noreferrer">Articles+</a> to find scholarly publications harvested from commercial publishers and open-access repositories.<br>
      Need help? See our <a href="/help">help page</a> or <a href="https://emory.libanswers.com/" target="_blank" rel="noopener noreferrer">Ask a Librarian</a> for assistance.
    </p>
  </div>
<% end %>