<% doc_presenter = show_presenter(document) %>
<% section_presenter = presenter.new(document: doc_presenter.fields_to_render) %>
<% fields = section_presenter.terms; collapsible_fields = section_presenter.terms_in_collapsible %>

<% if fields.length > 0 || collapsible_fields.length > 0 %>
  <h4 class="blacklight-title"><%= title %></h4><br>
  <dl class="row dl-invert document-metadata">
    <% if fields.length > 0 %>
      <% fields.each do |field_name, field| %>
        <%= render 'metadata_line', field_name: field_name, document: document, doc_presenter: doc_presenter, field: field %>
      <% end %>
    <% end %>
  </dl>
  <% if collapsible_fields.length > 0 %>
    <dl id="extended-terms" class='collapse row dl-invert collapsible-document-metadata'>
      <% collapsible_fields.each do |field_name, field| %>
        <%= render 'metadata_line', field_name: field_name, document: document, doc_presenter: doc_presenter, field: field %>
      <% end %>
    </dl>
    <div class="row">
      <div class="col-md-4"></div>
      <%= link_to '',
            '#extended-terms',
            class: "#{(collapse_link_class + " ") if collapse_link_class.present? }btn btn-link additional-fields collapsed",
            data: { toggle: 'collapse' },
            role: "button",
            'aria-expanded'=> "false",
            'aria-controls'=> "extended-terms" %>
    </div>
  <% end %>
<% end %>