<div class="card show-tools">
  <div class="card-header"><h2 class="mb-0 h6"><%= t('catalog.show.more_options') %></h2></div>
    <ul class="list-group list-group-flush">
      <%= render_more_options_links(@document) %>
    </ul>
</div>