<div class="row accordion-row">
  <section class="accordion col-lg-12 col-centered">

    <div class="accordion-menu">
      <h2 class="accordion-title dropdown-header">Other Research Resources</h2>
      <div class="accordion-toggles">
        <button type="button" class="btn accordion-toggle-all collapsed" id="show-all">Show All Sections</button>
        <button type="button" class="btn accordion-toggle-all collapsed" id="hide-all">Hide All Sections <span id="separate-btn">|</span></button>
      </div>
    </div>

  
  <div id="other-resources-panel" class="panel accordion-panel">
    
    <a href="#" class="collapsed panel-anchor" data-toggle="collapse" data-target="#research-guides">
    <div class="panel-title">
      <h2>Research Guides</h2>
      <button type="button" class="btn panel-toggler collapsed" data-toggle="collapse" data-target="#research-guides">
      <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    </a>
    <div id="research-guides" class="resource-body collapse">
      <p>Research guides offer research assistance, subject guides, and useful resources created and curated by expert librarians and staff at the Emory Libraries. </p>
      <a class="btn btn-md btn-primary btn-login rounded-0 mb-2" href="https://libraries.emory.edu/tools/research-guides.html">View Research Guides</a>
    </div>
    
    <a href="#" class="collapsed panel-anchor" data-toggle="collapse" data-target="#digital-repository">
    <div class="panel-title">
        <h2>Emory Digital Collections Repository</h2>
        <button type="button" class="btn panel-toggler collapsed" data-toggle="collapse" data-target="#digital-repository">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    </a>
    <div id="digital-repository" class="resource-body collapse">
        <p>Emory's digital collections support the University's research and teaching needs and are our digital front door to unique cultural heritage and scholarship collections from Emory University. </p>
        <a class="btn btn-md btn-primary btn-login rounded-0 mb-2" href="https://digital.library.emory.edu/">View Emory Digital Collections Repository</a>
    </div>
    
    <a href="#" class="collapsed panel-anchor" data-toggle="collapse" data-target="#etd-repository">
    <div class="panel-title">
        <h2>Emory Theses and Dissertations Repository</h2>
        <button type="button" class="btn panel-toggler collapsed" data-toggle="collapse" data-target="#etd-repository">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    </a>
    <div id="etd-repository" class="resource-body collapse">
        <p>The Emory Theses and Dissertations (ETD) Repository holds theses and dissertations from the Laney Graduate School, the Rollins School of Public Health, and the Candler School of Theology, as well as undergraduate honors papers from Emory College of Arts and Sciences.</p>
        <a class="btn btn-md btn-primary btn-login rounded-0 mb-2" href="https://etd.library.emory.edu/">View Emory These and Dissertations Repository</a>
    </div>
    
    <a href="#" class="collapsed panel-anchor" data-toggle="collapse" data-target="#openemory">
    <div class="panel-title">
        <h2>OpenEmory Repository</h2>
        <button type="button" class="btn panel-toggler collapsed" data-toggle="collapse" data-target="#openemory">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    </a>
    <div id="openemory" class="resource-body collapse">
        <p>OpenEmory is an open access repository of Emory faculty works and a service of Emory Libraries and Information Technology.</p>
        <a class="btn btn-md btn-primary btn-login rounded-0 mb-2" href="https://libraries.emory.edu/tools/open-emory.html">View OpenEmory Repository</a>
    </div>
    <a href="#" class="collapsed panel-anchor" data-toggle="collapse" data-target="#course-reserves">
    <div class="panel-title">
        <h2>Course Reserves</h2>
        <button type="button" class="btn panel-toggler collapsed" data-toggle="collapse" data-target="#course-reserves">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    </a>
    <div id="course-reserves" class="resource-body collapse">
        <p>Course Reserves are required and recommended course materials made available to students at the request of faculty.</p>
        <a class="btn btn-md btn-primary btn-login rounded-0 mb-2" href="https://libraries.emory.edu/materials/course-reserves.html">View Course Reserves</a>
    </div>
    <a href="#" class="collapsed panel-anchor" data-toggle="collapse" data-target="#ill">
    <div class="panel-title">
        <h2>InterLibrary Loan</h2>
        <button type="button" class="btn panel-toggler collapsed" data-toggle="collapse" data-target="#ill">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    </a>
    <div id="ill" class="resource-body collapse">
        <p>ILLiad is the system for Emory Libraries Interlibrary Loan and Electronic Document Delivery. </p>
        <a class="btn btn-md btn-primary btn-login rounded-0 mb-2" href="https://libraries.emory.edu/tools/illiad.html">View InterLibrary Loan</a>
    </div>
    <a href="#" class="collapsed panel-anchor" data-toggle="collapse" data-target="#finding-aids">
    <div class="panel-title">
        <h2>Finding Aids</h2>
        <button type="button" class="btn panel-toggler collapsed" data-toggle="collapse" data-target="#finding-aids">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    </a>
    <div id="finding-aids" class="resource-body collapse">
        <p>The EmoryFindingAids database provides centralized access to detailed descriptions of archival and manuscript collections held in various repositories at Emory.</p>
        <a class="btn btn-md btn-primary btn-login rounded-0 mb-2" href="https://findingaids.library.emory.edu/">View Finding Aids</a>
    </div>
  </div>
</section>
</div>
