<div class="row">
	<div class="col-12 col-centered">
		<h1 id="other-resources-title">Other Resources</h1>
		<div class="card-deck">
		
		<div class="border-resources card mb-3">
		  <div class="card-header bg-resources resources-header"></div>
		  <div class="card-body">
		  	<div class="lightbulb">
		  	<span class="rounded-lightbulb">
		  	<img src="/assets/lightbulb.svg" height="32" width="32" />
		  	</span>
		  	</div>
		    <p class="text-other-resources">Search Tool</p>
		    <a href="https://guides.libraries.emory.edu/az.php">
		    <h3 class="bigtext-other-resources">Databases@Emory</h3>
			</a>
		  </div>
		</div>
		
		
		<div class="border-resources card mb-3" >
		  <div class="card-header bg-resources resources-header"></div>
		  <div class="card-body">
		  	<div class="lightbulb">
		  	<span class="rounded-lightbulb">
		  	<img src="/assets/lightbulb.svg" height="32" width="32" />
		  	</span>
		  	</div>
		    <p class="text-other-resources">Search Tool</p>
		    <a href="#">
		   <h3 class="bigtext-other-resources">eJournals (A-Z)</h3>
			</a>
		  </div>
		</div>
		
		
		<div class="border-resources card mb-3">
		  <div class="card-header bg-resources resources-header"></div>
		  <div class="card-body">
		  	<div class="lightbulb">
		  	<span class="rounded-lightbulb">
		  	<img src="/assets/lightbulb.svg" height="32" width="32" />
		  	</span>
		  	</div>
		    <p class="text-other-resources">Search Tool</p>
		    <a href="#">
		    <h3 class="bigtext-other-resources">Articles+</h3>
			</a>
		  </div>
		</div>
		
	</div>
	</div>
</div>