<h2 class="section-title">Where to find it</h2>
<h4 class="blacklight-Request Options">Request Options</h4>
<dl class="row dl-invert document-metadata">
  <dt class="blacklight-request_options col-md-4">Location:</dt>
  <% document["library_ssim"].each do |library| %>
  <dd class="blacklight-request_options col-md-8">
    <%= library %>
    <%# "Marian K. Heilbrun Music Media" %>
    <%# AlmaAvailabilityService.new(document.id)&.current_avail_table_data(document) %>
  </dd>
  <% end %>
</dl>
