<h2 class="section-title">Where to find it</h2>
<h4 class="blacklight-Request Options">Request Options</h4>
<dl class="row dl-invert document-metadata">
  <dt class="blacklight-request_options col-md-4">Location:</dt>
  <dd class="blacklight-request_options col-md-8">
  <% document.holdings.each do |holding| %>
    <%= holding[:library] %>
    <br>
    <%= holding[:location] %>
    <br>
    <%= holding[:call_number] %>
    <br>
    <%= pluralize(holding[:availability][:copies], 'copy') +
      ", #{holding[:availability][:available]} available" +
      ", " + pluralize(holding[:availability][:requests], 'request') %>
    <br>
    <br>
  <% end %>
  </dd>

</dl>
