<h1>Hold Request</h1>

<p>
  <strong>Pickup library:</strong>
  <%= @hold_request.pickup_library %>
</p>
<p>
  <strong>Hold Request id</strong>
  <%= @hold_request.id %>
</p>
<p>
  <strong>Comment</strong>
  <%= @hold_request.comment %>
</p>
