@import 'variables';

h1.citation-title.show-header {
  text-align: left;
}

div.modal-header.citations {
  border-bottom: 0;
  padding-bottom: 0;
}

// Citation Warning
.citation-warning {
  background-color: #E9BF55;
  color: #091C44;
  margin: inherit;
  margin-bottom: 2rem;
  .icon {
      text-align: center;
      margin: auto 0;
      svg {
          width: 24px;
          height: 24px;
      }
  }
}

.citation-header { margin: 1.5rem 0 .5rem; font-size: 1.125rem; font-weight: 600;}
.citation-text { margin-bottom: 1rem;}