// The following rules are selectively brought in
// and adapted from Blacklight's _facets.scss

@media (min-width: 992px) {
  .facets-toggleable-md .facets-collapse {
    display: block !important;
    width: 100%;
  }
}

.facets-heading {
  // margin-top: 15px;
  color: $dark-blue;
}

.homepage-content-heading {
  font-size: $homepage-content-heading-font-size;
  color: $dark-blue;
  line-height: 1.88;
  margin-bottom: 0;
  margin-top: map-get($spacers, 4);
}

.facets > .navbar {
  padding: $navbar-padding-y !important;
  margin-bottom: $facets-heading-margin-y;
}

.facet-limit {
  margin-bottom: $spacer;
}

.facet-limit-active {
  background-color: $base-blue;

  .card-header {
    background-color: $base-blue;

    > button {
      color: $white;
    }
  }
}

.facet-field-heading > .btn {
  line-height: $facet-line-height;
  color: $dark-blue;
}

.facet-values {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: $navbar-padding-y;

  li {
    display: table-row;
    font-size: $facet-label-font-size;
    line-height: $facet-label-line-height;
    .selected {
      color: $base-blue;
      font-weight: $font-weight-bold;

      &.facet-count {
        font-weight: $font-weight-normal;
      }
    }
  }

  @mixin hyphens-auto {
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
  }

  .facet-label {
    display: table-cell;
    text-indent: -$spacer;
    padding-left: $spacer;
    padding-bottom: map-get($spacers, 2);
    // @include hyphens-auto;
    word-wrap: normal !important;

    a {
      font-weight: $font-weight-bold;
      color: $alt-bright-blue;

      &.remove {
        color: $charcoal;
        font-weight: $font-weight-bold;
        padding-left: map-get($spacers, 2);
        text-decoration: none;
      }
    }
  }

  .facet-count {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    width: 5em;
  }
}

.facet-extended-list {
  .sort-options {
    text-align: right;
  }

  .prev-next-links {
    float: left;
  }
}

#facets-toggler {
  position: absolute;
  left: $facet-toggler-position;
}

// The following rules are selectively brought in
// and adapted from Blacklight's _bootstrap_overrides.scss
.facet-heading-home {
  background-color: #fff !important;
}

.facet-field-heading {
  border-bottom: $results-border-radius;
  button {
    &::after {
      content: "â¯";
      float: right;
      transform: rotate(90deg);
      color: $dark-blue;
    }

    &.collapsed {
      border-bottom: 0;

      &::after {
        transform: rotate(0deg);
        transition: transform 0.1s ease;
      }
    }
  }
}

div.facet-home > div#facet-panel-collapse > div.card > h3 {
  background-color: $white !important;
}

section#sidebar.search {
  margin-top: $facet-top-margin;
}

.browse-link {
  color: $base-blue;

  &:hover {
    color: $bright-blue;
    text-decoration: none;
  }
}

// top facet-pagination should be hidden
.facet-pagination.top {
  display: none;
}
