@import 'fonts';
@import 'variables';
@import 'bootstrap';


.hero-image{
height: 333px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(image-path('susan-q-yin-2JIvboGLeho-unsplash.jpg'));
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: absolute;
top:0px;
left:0px;
width: 100%;
margin-top: -20px;
}

.intro-hero-title {
  margin-top: 2rem;
  color: #fff;
  text-align:center;
  position: relative;
  top: 50%;
  transform: translateY(50%);

  font-family: $font-family-serif;
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
}

.intro-hero-text {
  font: normal bold $font-size-sm $font-family-sans-serif;
  position: relative;
  transform: translateY(90%);
}

@media (min-width: 400px) {
  .intro-hero-title {
    transform: translateY(35%);
  }

  .intro-hero-text {
    transform: translateY(25%);
  }
}

@include media-breakpoint-up(sm) {
  .intro-hero-title {
    transform: translateY(-50%);
    font-size: $hero-title-font-size;
  }

  .intro-hero-text {
    font: normal bold $font-size-base $font-family-sans-serif;
    position: relative;
    transform: translateY(-75%);
  }
}

@include media-breakpoint-up(md) {
  .intro-hero-title {
    font-size: $hero-title-font-size-md;
    transform: translateY(-125%);
  }

  .intro-hero-text {
    font: normal bold $font-size-base $font-family-sans-serif;
    position: relative;
    transform: translateY(-300%);
  }
}

@include media-breakpoint-up(lg) {
  .intro-hero-title {
    font-size: $hero-title-font-size-large;
    transform: translateY(-150%);
  }

  .intro-hero-text {
    font: normal bold $hero-title-font-size $font-family-sans-serif;
    position: relative;
    transform: translateY(-225%);
  }
}

.carousel-image {
  filter: brightness(60%);
}