a {
    &.btn.btn-link.additional-authors-collapse {
      &.collapsed:after {
        content: "Show more Author/Creators";
      }
  
      &:not(.collapsed):after {
        content: "Show less Author/Creators";
      }
    }
  
    &.additional-titles.btn.btn-link.additional-fields {
      &.collapsed:after {
        content: "Show more Title Information";
      }
  
      &:not(.collapsed):after {
        content: "Show less Title Information";
      }
  
      margin-left: 1rem;
    }
  }