.alert {
  background-color: #E7EAF1;
  color: #605858;
  border-radius: unset !important;
  border: unset !important;
  .close { 
    color: #082B73 !important; 
    &:hover { color: #091C44 !important; }
  }
}

.alert.alert-info {
  background-color: #082B73;
  color: #FFFFFF;
  border-radius: unset !important;
  border: unset !important;
  .close { 
    color: #E9BF55 !important; 
    &:hover { color: #D69A03 !important; }
  }
}

// .alert.alert-success {
//   background-color: #1DB003;
//   color: #091C44;
//   border-radius: unset !important;
//   border: unset !important;
//   .close { 
//     color: #082B73 !important; 
//     &:hover { color: #091C44 !important; }
//   }
// }

.alert.alert-success {
  background-color: #FFFFFF;
  color: #605858;
  border-radius: unset !important;
  border: unset !important;
  .close { 
    color: #336BE6 !important; 
    &:hover { color: #004990 !important; }
  }
}

.alert.alert-warning {
  background-color: #E9BF55;
  color: #091C44;
  border-radius: unset !important;
  border: unset !important;
  .close { 
    color: #082B73 !important; 
    &:hover { color: #091C44 !important; }
  }
}

.alert.alert-danger {
  background-color: #B82216;
  color: #FFFFFF;
  border-radius: unset !important;
  border: unset !important;
  .close { 
    color: #E7EAF1 !important; 
    &:hover { color: #B6BDCC !important; }
  }
}