@import "variables";

h3.heading.-h3 {
  font: normal bold $h4-font-size $font-family-sans-serif;
}

span.document-counter {
  margin-right: map-get($spacers, 1);
  // font-family: $font-family-serif;
  font-weight: 200;
  font-size: 1.25rem;
}

article.document {
  > dl.row {
    margin-left: map-get($spacers, 0);

    > dt {
      text-align: right;

      @media (max-width:767px) {
        text-align: left;
        margin-bottom: 1px;
      }
    }
    
    dd {
      margin-bottom: 0;

      @media (max-width:767px) {
        margin-bottom: 6px;
      }
    }
  }

  > p {
    margin-bottom: $results-vern-title-bottom-marg;
    margin-left: $results-vern-title-left-marg;
  }
}

header.documentHeader {
  width: 100%;
}

dd.document-details {
  margin-right: $navbar-padding-y;
}

dl.document-heading-second-row {
  margin-left: map-get($spacers, 0);
  margin-bottom: map-get($spacers, 0);
}

div.index-document-functions > .bookmark-toggle {
  width: max-content;
}

dt.index-field-name {
  padding-right: map-get($spacers, 2);
}

.document-thumbnail > a > img {
  width: $results-thumbnail-width;
}

.documents-list > .document {
  margin-bottom: $results-document-bottom-margin;
  h3.document-title-heading {
    font: normal bold $results-h3-font-size $font-family-sans-serif;
  }
}

.clearfix::after,
.modal-content::after,
.documents-list .document::after,
.no-js .sort-pagination::after,
.pagination-search-widgets::after {
  display: block;
  clear: both;
  content: "";
}

.btn.online-avail-label.avail-default {
  background-color: $light-slate;
}

.phys-avail-label.avail-success {
  background-color: $light-green;
}

.phys-avail-label.avail-danger {
  background-color: $light-red;
}

.phys-avail-label.avail-unknown {
  background-color: $alt-yellow;
}

.avail-physical-link-el, .avail-online-link-el, .phys-avail-label, .online-avail-label {
  min-width: $results-avail-badge-min-width;
}

.phys-avail-button {
  a.avail-physical-link-el {
    font-size:   $results-avail-link-font-size;
    font-weight: $font-weight-bold !important; 
    padding:     $results-avail-link-padding;
    &:hover, &:focus {
      border-color:     $bright-blue;
      background-color: $light-blue;
      color:            $bright-blue;
    }
  }
}

.online-avail-button {
  a.avail-online-link-el {
    font-size:   $results-avail-link-font-size;
    font-weight: $font-weight-bold !important; 
    padding:     $results-avail-link-padding;
    &:hover, &:focus {
      border-color:     $bright-blue;
      background-color: $light-blue;
      color:            $bright-blue;
    }
  }
}

.loading-avail-block {
  height: 38px;
  width: 400px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  display: flex;
}

.loading-avail-block li {
  box-sizing: border-box;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  width: 138px;
  height: 38px;
  text-align: center;
  margin-right: 0;
  line-height: 34px;
}

.loading-avail-badge {
  font-size: 14px;
  line-height: 30px;
}

li.loading-avail-badge {
  border: 1px solid #E7EAF1;
  width: 138px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

li.loading-avail-badge span {
  vertical-align: middle;
}

.loading-avail-message {
  color: #091C44;
}

.loading-avail-spinner {
  margin-right: 1em;
}

.availability-table {
  .table-primary th {
    border-color: #dee2e6;
    font-size: 0.875rem;

    @media (max-width:575px) {
      max-width: 33.33%;
    }
  }

  td {
    font-size: 0.875rem;
    text-align: left;

    @media (max-width:575px) {
      max-width: 33.33%;

      span.btn {
        min-width: 5rem;
      }
    }
  }
}

.btn.rounded-0.phys-avail-label, .btn.rounded-0.mb-2.online-avail-label { 
  cursor:    default !important;
  font-size: $results-button-label-font-size;
  padding:   $results-button-label-padding;
}

.center-me { text-align: center;}

.online-avail-button { margin-left: $results-online-avail-button-f-s;}

.avail-label { margin-top: $results-avail-label-maring-top; }

.avail-label, .avail-dd { padding-top: map-get($spacers, 3);}

.service-page-link { 
  width: 100%;
  text-align: center !important; 
}

.show-all-avail-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  margin-top: 11px;
}

.bound-with-link{ margin-left: -0.25rem;}

.table-primary, tbody > tr { 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap; flex-wrap: wrap; 
}

tr.no-print > td { min-width: 100%; }