// Search form
form.search-query-form {
  width: 100%;
  position: relative;
  top: 2px;
}

.form-inline {
  &.col-lg-7,
  &.col-md-12,
  &.col-sm-12 {
    padding-right: 0;
    padding-bottom: $search-form-padding-y;
  }
}

.advanced_search_home {
  float: right;
}

.advanced-search-text a {
  float: right;
}

.header-search {
  color: #091c44;
  margin-top: 1.25rem;
  font-family: Cardo;
  font-size: 1.75rem;
  margin-bottom: map-get($spacers, 2);
  line-height: 1.88;
}

.input-group {
  &.col-md-12 {
    padding-right: 0;
  }

  // Search form text input
  > .form-control {
    &.search-q {
      height: $search-form-height;
      margin-right: $search-form-margin-x;
      padding: $search-form-q-padding-y $search-form-q-padding-x;

      border-radius: $border-radius-xs !important;
      box-shadow: $search-form-box-shadow;
      color: $charcoal;
    }
    &.search-q:focus {
      border-color: $alt-bright-blue;
    }
  }
}

// Search form dropdown
div.bootstrap-select {
  padding: 0;
  margin-right: $search-form-margin-x;
  color: $charcoal;
  background: $search-form-select-background;
  min-width: $search-form-select-width;
}

// If we end up needing this, make it more targeted to the specific class - right now killing all dropdown carets
// .dropdown-toggle::after {
//   display: none !important;
// }

button.fielded-search {
  border: $search-form-select-border;
  height: $search-form-height;
  box-shadow: $search-form-box-shadow;
  padding-left: $search-form-select-padding-x;

  &[aria-expanded="true"] {
    background: $search-form-select-active-background;
    box-shadow: none;
  }
}

div.bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
  box-shadow: none;

  &[aria-expanded="true"] {
    box-shadow: $search-form-box-shadow;
    border-radius: 0;
  }
}

.request-options {
  text-align: right !important;
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }
}
div.dropdown-menu {
  border-radius: 0;
  margin-top: 0;
  border: $search-form-select-border;

  li a:active {
    outline: none;
  }
}

a.dropdown-item {
  color: $charcoal;

  &.active {
    color: $white;
  }
}

// Search form submit button
button#search {
  width: $search-form-button-width;
  padding: 0 $search-form-button-padding-x;
  border: 1px solid $bright-blue;

  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;

  border-radius: $results-border-radius;
  &:hover {
    border-color: $mid-blue;
    background-color: $mid-blue;
  }
}

.navbar-search .search-query-form {
  padding-left: 0;
}

select.search-field {
  border-radius: $results-border-radius;
}
.twitter-typeahead {
  flex-grow: 2;
  z-index: 1000;
}
