@import 'variables';

div#sortAndPerPage {
  margin-bottom: map-get($spacers, 3);
  display: flex;
  line-height: map-get($spacers, 5);
  flex-wrap: wrap;

  > .search-widgets {
    flex: 1;
    text-align: right;
    min-width: fit-content;

    > #sort-dropdown > .btn.btn-outline-secondary.dropdown-toggle, 
      > #per_page-dropdown > .btn.btn-outline-secondary.dropdown-toggle {
      border-radius: $results-border-radius;
    }

    > #per_page-dropdown > .dropdown-menu { min-width: $results-drop-menu-min-w; }
  }
  > .page-links {
    padding: 0 $pagination-padding-left-right;
    max-width: fit-content;
  }
}
