<div class="row">
  <div class="col-12 col-centered">
    <h1 id="other-resources-title">Other Resources</h1>
    <div class="card-deck">
      <%= render('catalog/other_resources/card', 
            url: databases_url, new_page: true, url_text: 'Databases@Emory') %>
      <%= render('catalog/other_resources/card', 
            url: ejournals_path, new_page: false, url_text: 'eJournals (A-Z)') %>
      <%= render('catalog/other_resources/card', 
            url: articles_plus_url, new_page: true, url_text: 'Articles+') %>
    </div>
  </div>
</div>